@import url("../font/fonts.css");
@import url("events.css");

html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Page */

.page {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

/* Multiverse */

.multiverse {
    width: 100%;
    height: auto;
}

.universe {
    width: 100%;
    height: 100%;
}

/* Individual Universe Styles */

/* First Universe */

.universe:nth-child(1) {
    background: url(http://i.imgur.com/P8Mx0oD.jpg);
    background-size: cover;
}

.universe:nth-child(1) .header {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.universe:nth-child(1) .header h1.title {
    font-family:"digital desolation", sans-serif;
    font-size: 60px;
    letter-spacing:  -1px;
    text-align: center;
    color: #fff;
    margin: 0;
    text-shadow: 5px 5px 0px #111;
    cursor: default;
}

/* Second Universe */

.universe:nth-child(2) {
    height: auto;
    background: #fff;
    font-family: 'Raleway', sans-serif;
}

.universe:nth-child(2) .header {
    position: relative;
    padding: 5% 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
}

.universe:nth-child(2) .header > * {
    margin: 0;
    text-align: center;
    color: #000;
}

.universe:nth-child(2) .header hr {
    border: 0;
    height: 1px;
    margin: 3px 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.universe:nth-child(2) .header h2.title {
    font-size: 40px;
}

.universe:nth-child(2) .header p {
    font-size: 22px;
}

/* Second universe social links */

.universe:nth-child(2) .links {
    position: relative;
    padding: 5% 0;
    width: 100%;
    background: url("../img/starry-bg.jpg");
    background-size: cover;
    background-position: 0% 0%;
}

.universe:nth-child(2) .links .central {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.universe:nth-child(2) .links .central h2 {
    font-size: 30px;
    margin: 0 0 40px 0;
    color: #fff;
}

.btn {
    position: relative;
    margin-right: 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    background: transparent;
    transition: background .25s;
}

.btn:last-child {
    margin-right: 0;
}

.btn > * {
    display: inline;
    color: #fff;
    transition: color .25s;
}

.btn:hover {
    background: #fff;
}

.btn:hover > * {
    color: #000;
}

/* Second universe team */

.universe:nth-child(2) .team {
    position: relative;
    padding: 5% 0;
    width: 100%;
    background: #fff;
}

.universe:nth-child(2) .team .central {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 15px;
}

.universe:nth-child(2) .team .central:last-child {
    margin-bottom: 0;
}

.universe:nth-child(2) .team .central h2 {
    margin: 0 0 20px 0;
    font-size: 30px;
    color: #000;
}

.universe:nth-child(2) .team .central div.member {
    display: inline-block;
    width: 200px;
    height: auto;
}

.universe:nth-child(2) .team .central div.member img {
    width: 64px;
    height: 64px;
    border-radius: 32px;
}

.universe:nth-child(2) .team .central div.member h5 {
    margin: 10px 0 5px 0;
    font-size: 22px;
}

.universe:nth-child(2) .team .central div.member p {
    margin: 0;
    font-size: 16px;
    color: #888;
}

/* Third & fourth Universes */

.universe:nth-child(3), .universe:nth-child(4) {
    border-top: 1px solid #bbb;
    background: #fff;
    font-family: 'Raleway', sans-serif;
}

.universe:nth-child(3) {
    background: url("../img/starry-bg.jpg");
    background-size: cover;
    background-position: 0% 0%;
    height: auto;
}

.universe:nth-child(3) .header, .universe:nth-child(4) .header {
    position: relative;
    padding: 2% 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    text-align: center;
}

.universe:nth-child(3) .header h2, .universe:nth-child(4) .header h2 {
    margin: 0;
    font-size: 36px;
}

.universe:nth-child(3) .header h2 {
    color: #fff;
}

.universe:nth-child(3) .event-container {
    width: 100%;
    height: 90%;
}

.universe:nth-child(3) .event-container .event-wrapper {
    width: 50%;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.nav ul {
    position: fixed;
    z-index: 1000;
    margin: 0;
    width: 100%;
    float: left;
    padding: 0;
    background-color: #1A1A1A;
}

.nav li {
    position: relative;
    display: inline;
    float: left;
    list-style: none;
}
.nav li a {
    text-align: center;
    display: block;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: none;
    font-size: 15px;
    text-transform: uppercase;
    padding: 8px 15px;
    color: #fff;
    transition: color .25s, background-color .25s;
}

.nav li a:hover {
    color: ghostwhite;
    background-color: darkgrey;
}

.nav li.right {
    position: relative;
    float: right;
}

div.vr {
    border-left: 1px solid #fff;
    margin: 7px 0;
    height: 20px;
}

body div.user {
    position: fixed;
    right: 0;
    top: -30px;
    padding: 8px 6px;
    background: #1A1A1A;
    z-index: 999;
    transition: top .25s;
}

body div.user.show {
    top: 30px;
}

body div.user p {
    display: inline;
    margin: 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

body div.user button.submit {
    width: 32px;
    height: 32px;
    background: 0;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: background .25s;
}

body div.user button.submit i {
    color: #fff;
    transition: color .25s;
}

body div.user button.submit:hover {
    background: #fff;
    cursor: pointer;
}

body div.user button.submit:hover i {
    color: #000;
}

div.cursor {
    display: block;
    position: fixed;
    left: -10px;
    width: 0;
    height: 3px;
    background: #fff;
    z-index: 1001;
    transition: width .5s, left .5s;
}

div.audio-question {
    position: absolute;
    bottom: 0;
    left: 30%;
    padding: 5px;
    background: rgba(0, 0, 0, 0.6);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    padding-bottom: 20px;
    display: none;
}

div.audio-question h6, div.audio-question p {
    margin: 0 0 5px 0;
    color: #fff;
}

div.audio-question h6 {
    font-size: 20px;
}

div.audio-question p {
    font-size: 16px;
}

div.audio-question p small {
    font-size: 12px;
}

div.audio-question p.last {
    margin-bottom: 20px;
}

div.audio-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    position: absolute;
    z-index: 500;
    background: rgba(0, 0, 0, 0.6);
    border-top-right-radius: 10px;
}

div.audio-controls i {
    font-size: 1.8em;
    margin-right: 5px;
    color: #fff;
    cursor: pointer;
    transition: color .25s;
}

div.audio-controls p {
    display: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
}

div.audio-controls p.shown {
    display: inline;
}

div.audio-controls i:hover {
    color: #bbb;
}

div.notifier {
    width: 128px;
    height: 128px;
    border-radius: 10px;
    background: rgba(0, 0, 0, .9);
    position: fixed;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 2000;
    padding: 0 5px;
}

div.notifier > * {
    color: #fff;
}

div.notifier p {
    margin: 10px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

div.btt {
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity .5s, bottom .3s;
}

div.btt i {
    color: #000;
    transition: color .3s;
}

div.btt:hover {
    bottom: 12px;
    cursor: pointer;
}

div.btt:hover i {
    color: #555;
}

div.btt.shown {
    opacity: 1;
}

div.btt.white i {
    color: #fff;
}

a:focus, *:focus {
    outline: 0;
}

a {
    cursor: pointer;
}

.inactive {
    display: none;
}

input.styled-input {
    border: 0;
    background: 0;
    color: #fff;
    border-bottom: 2px solid #ddd;
    padding: 8px 4px;
    margin: 0 8px;
}

/* Loader */

.loader {
    position: fixed;
    background: #222;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
}

.loader h3 {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.loader h4 {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 16px;
    text-align: center;
    color: #555;
}

.mask-loading {
    position: fixed;
    widows: 100%;
    background-color: rgba(0, 0, 0, .75);
}
.spinner {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
